@font-face {
  font-family: Peyda;
  src: url("../font/Peyda-Medium.ttf");
}
body {
  font-family: Peyda;
  background-color: #fbf8f0;
  margin: 0 !important;
  padding: 0 !important;
  direction: rtl;
}
.box {
  width: 1196px;
  margin-left: 155px;
  margin-right: 158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 155px;
  margin-right: 158px;
}
.navbar,
.container-fluid {
  background-color: #fbf8f0;
}

.navbar-nav {
  font-size: 14px;
  margin-right: 224px;
}
.bt1 {
  margin-left: 53px;
}
.btn {
  color: white;
  font-family: Peyda;
  font-size: 14px;
  font-weight: 500;
  width: 149px;
  height: 42px;
  border-radius: 50px;
  background-color: #fcb816;
}

hr {
  display: flex;
  justify-content: center;
  margin: 0;
  width: 1196px;
  height: 1px;
  background-color: #dddbe1;
}

/***********bg1****************/
.bg1 {
  width: 1031px;
  height: 494px;
  margin: 55px 83px 87px 85px;
  font-family: Peyda(FaNum);
  font-size: 56px;
  font-weight: normal;
  font-stretch: normal;
  background-image: url('../image/highlight.png');
background-repeat: no-repeat;
background-position: 21% 38%;
}
.Rectangle {
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  width: 187px;
  height: 125px;
  margin: 0 0 11.8px;
  padding: 19px 17px 20px 15px;
  border-radius: 12px;
  background-color: #0d0901;
  position: relative;
  right: 280px;
}
.Rectangle img{
  position: relative;
  bottom: 3px;
}
.box1 {
  width: 1031px;
  height: 494px;
  margin-top: 28px;
}
.hero-1 {
  width: 132px;
  height: 78px;
}
.hero-3 {
  width: 127px;
  height: 82px;
}
.toosi3 {
  width: 70px;
  height: 71px;
}
.hero-2 {
  width: 130px;
  height: 84px;
}
.Rectangle2 {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  flex-grow: 0;
  text-align: center;
  margin: 11px 0 0;
  padding: 17px 19px;
  border-radius: 12px;
  background-color: #0d0901;
  width: 228px;
  height: 100px;
  position: relative;
  bottom: 300px;
  right: 630px;
}
.Rectangle2 img{
  position: relative;
  bottom: 105px;
}
/***********bg1****************/


/***********bg2****************/
.bg2{
  width: 1199px;
  height: 648px;
  background-image:url('../image/Group632559.png');
}
/***********bg2****************/

/***********bg3****************/



/***********bg3****************/

